#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.table-container, .selected-info {
  background-color: #9D858D;
  color: whitesmoke;
  font-size: 2em;
  border: 10px solid black;
  border-radius: 20px;
}

th {
  font-size: 3em;
  text-shadow: 5px 5px 5px red;
}

.subheader {
  font-size: 2em;
}

